* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------------------- */
/* BASIC STYLING */
/* ---------------------- */

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #333;
}

/* ---------------------- */
/* UTILITY */
/* ---------------------- */

.container {
  width: 1140px;
  margin: 0 auto;
}

.row {
  width: 96%;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-wrap,
.content-wrap,
.text-wrap,
.button-wrap,
.reference-wrap,
.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  margin: 1.8rem 0;
}

.col-1-of-1 {
  width: 100%;
  display: block;
}

.col-1-of-2 {
  flex: 1;
}

.col-1-of-3 {
  width: 33%;
}

.col-3-of-4 {
  width: 75%;
}

/* ---------------------- */
/* COMPONENTS */
/* ---------------------- */

/* NAV MENU-------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.logo {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo a {
  text-decoration: none;
  color: #333;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 16px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* BUTTONS--------------- */
.btn {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 1.1rem;
}

.btn-primary,
input[type="submit"] {
  background-image: linear-gradient(
    to left top,
    #373eb0,
    #2f47b8,
    #2551bf,
    #1859c6,
    #0062cd
  );
  color: #fff;
  box-shadow: 7px 7px 3px #b7cee8;
}

.btn-primary:hover,
input[type="submit"]:hover {
  opacity: 0.85;
  cursor: pointer;
}

.btn-outline {
  color: #373eb0;
  border: 2px solid #373eb0;
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.15);
}

.btn-outline:hover {
  color: #fff;
  background-image: linear-gradient(
    to left top,
    #373eb0,
    #2f47b8,
    #2551bf,
    #1859c6,
    #0062cd
  );
}

.btn-white {
  background: #fff;
  color: #373eb0;
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.2);
}

.btn-white:hover {
  background: #eeeeee;
}

/* ICONS--------------- */

.social-icon {
  color: #fff;
}

.social-icon:hover {
  color: #e75353;
}

/* HR DIVIDERS--------------- */

.divider {
  height: 5px;
  background-image: linear-gradient(
    to left top,
    #373eb0,
    #2f47b8,
    #2551bf,
    #1859c6,
    #0062cd
  );
  width: 40%;
  display: block;
  margin: 2rem auto;
}

.mini-divider {
  height: 5px;
  background-image: linear-gradient(
    to left top,
    #373eb0,
    #2f47b8,
    #2551bf,
    #1859c6,
    #0062cd
  );
  display: block;
  margin: 1.8rem 0;
  width: 20%;
}

/* ---------------------- */
/* TEXT */
/* ---------------------- */

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}

.lead-heading {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.lead {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 1.2rem;
}

.subhead {
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1.5;
  text-align: center;
}

.benefit-head {
  font-weight: 500;
  font-size: 2rem;
}

.benefit-text {
  line-height: 1.8rem;
  width: 80%;
}

.emphasis {
  letter-spacing: 0.2rem;
  color: #373eb0;
}

.long-text {
  line-height: 1.8em;
}

.small-text {
  font-size: 0.8em;
  line-height: 1.8em;
}

.benefit {
  color: #373eb0;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.title::after {
  content: "";
  background: #ffffff;
  display: block;
  height: 3px;
  width: 50px;
  margin-bottom: 16px;
  margin-top: 16px;
}

/* ---------------------- */
/* LAYOUTS */
/* ---------------------- */

/* HOME------------------ */

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content,
.benefit-content,
.growth-content,
.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img {
  height: auto;
  width: 100%;
}

.about-content .container .logo-wrap {
  margin-bottom: 2rem;
}

.logo-wrap img {
  height: 150px;
  width: auto;
}

.about-content .container .text-wrap {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.about-content .reference-wrap {
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
}

.reference-wrap .img-wrap {
  padding: 1.5rem;
  flex: 0 0 33.333333%;
}

.reference-wrap .img-wrap img {
  width: 100%;
  height: auto;
}

.benefit-content .container .row {
  margin-top: 2.5rem;
}

.benefit-content .container .row .col-1-of-2 {
  align-self: flex-start;
}

.benefit-content .container .row .col-1-of-2:first-child {
  padding-right: 3rem;
}

.growth-content {
  margin: 2rem 0;
}

.growth-content .container .growth-section-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.growth-steps-container {
  display: flex;
  justify-content: space-between;
}

.growth-step {
  margin: 0 2em;
  padding-top: 1.5rem;
  width: 33%;
}

.growth-step img {
  width: 35px;
  height: auto;
  margin-bottom: 1em;
}

.growth-step h4 {
  margin-bottom: 1em;
  letter-spacing: 0.1rem;
}

.big-img {
  height: 300px;
  width: auto;
  padding: 1em 0;
}

.mobile-display {
  display: none;
}

.get-started {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.box {
  box-shadow: 0 0 30px #ccc;
  width: 70%;
  margin: 3rem 15%;
  text-align: center;
  padding: 3rem;
}

.box p {
  line-height: 1.8rem;
}

.box .button-wrap {
  margin: 2em 0;
}

.box .button-wrap a {
  margin: 0 0.8em;
}

/* ---------------------- */
/* CONSTRUCTION */
/* ---------------------- */

.construction-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://source.unsplash.com/random);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.construction-hero .button-container a:nth-of-type(2) {
  margin-left: 2rem;
}

.construction-hero .btn-primary {
  box-shadow: none;
}
.construction-hero .btn-outline {
  background: #fff;
}
.construction-hero .btn-outline:hover {
  background: #efefef;
  color: #0062cd;
}

/* ---------------------- */
/* CONTACT */
/* ---------------------- */

.form-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------------------- */
/* FOOTER */
/* ---------------------- */

#main-footer {
  background-image: linear-gradient(
    to right bottom,
    #007fd4,
    #007ad3,
    #0075d2,
    #006fd1,
    #006acf,
    #0764cc,
    #105fc9,
    #1859c6,
    #2252c1,
    #2a4cbb,
    #3145b6,
    #373eb0
  );
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-top {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 2rem 0;
  padding: 5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#footer-top .col-1-of-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-top h2 {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 2.3rem;
  width: 70%;
  line-height: 1.4em;
}

#footer-top p {
  margin-bottom: 1.6rem;
  width: 90%;
  line-height: 1.4em;
  font-size: 0.9rem;
}

#footer-top h4 {
  font-size: 1.6rem;
}

#footer-top .email-head {
  text-transform: lowercase;
  font-weight: 400;
}

#footer-middle {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2rem;
  padding-top: 5rem;
}

#footer-bottom {
  min-height: 115px;
  background: #373eb0;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}

#footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-middle .col-1-of-4 {
  padding: 0 1rem;
}

#footer-middle .col-1-of-4 p {
  margin: 2rem 0;
  font-size: 0.9rem;
}

.footer-menu {
  list-style: none;
}

.footer-menu li {
  margin: 2rem 0;
}

.footer-menu li a {
  font-size: 0.9rem;
}

.footer-menu li a:hover,
.footer-link:hover {
  color: #e75353;
}

.footer-menu-item {
  color: #fff;
  text-decoration: none;
}

#footer-awards {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 5rem 0 1rem 0;
}

.container #footer-links,
.container #footer-love,
.container #footer-social {
  width: 30%;
  display: inline-flex;
  justify-content: space-around;
}

#footer-love p {
  margin: 0 auto;
}

#footer-love i {
  color: #e75353;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}
